input{
    margin: 5px;
    display: block;
}
input[type="submit"]{
    border: 2px solid greenyellow;
    background-color: green;
    color: antiquewhite;
    border-radius: 10%;
    padding: 5px;
}
h1{
    color: darkolivegreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ol li{
    font-weight: lighter;
    color: tomato;
}